@using AssignmentMVC.Contexts;
@using AssignmentMVC.Models;
@using AssignmentMVC.Services.ProductServices;


@model GridCollectionItemViewModel

@inject ProductService ProductService

@{
    var products = ProductService.GetAllAsync().GetAwaiter().GetResult();
}




<div class="created-products">
    <div class="container">

        <a asp-controller="product" asp-action="RegisterProduct" class="NewProduct"><p>Create new</p></a>

        <div class="ProductOverview">


            @if (products != null)
            {

                <table class="product-table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in products)
                        {
                            <tr class="table-body">
                                <td class="table-image">
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">
                                        <img src="~/images/FromForm/@product.ImageUrl" alt="@product.Title" />
                                    </a>
                                </td>
                                <td>
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.Title</a>
                                </td>
                                <td>@product.Price</td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

        </div>
    </div>
</div>


